body {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

/* Separate */

.selected {
  margin-top: 23px;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}

/* Tooltip */

.tool {
  position: relative;
  display: inline-block;
}

.tool span {
  /* visibility: hidden; */
  opacity: 0;
  font-size: large;
  font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  left: 105%;
  bottom: -1px;
  width: 35vw;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  transition: opacity 0.1s;
  user-select: none;
}

.tool:hover span {
  /* visibility: visible; */
  opacity: 1;
}

/* Separate */

.options {
  margin-top: 20px;
}

.options p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  user-select: none;
}

.options ul {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.options li {
  display: inline-block;
  background-color: #2b3d41;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: font-size 0.23s;
  margin-bottom: 10px;
}

.options li:hover {
  background-color: #106b92;
  font-size: 18px;
  color: #fff;
}

ul .unsolved {
  background-color: #006969;
}

.table {
  display: flex;
  align-items: center;
  background-color: #00798c;
  color: #f7f7f7;
  padding-left: 13px;
  border-radius: 5px;
  user-select: none;
  font-weight: bold;
}

.users {
  margin-top: 20px;
}

.user {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 10px;
}

.user {
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding-left: 13px;
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user span {
  font-weight: bold;
}

.username {
  text-decoration: none;
  background-color: rgb(222, 222, 222);
  border-radius: 10%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 10px;
  color: #333;
  display: inline-block;
  text-align: center;
}

.username:hover {
  color: #ffffff;
  background-color: #495159;
}

.me {
  background-color: #1a5e63;
  font-weight: bold;
  color: #eeeeee;
  font-size: 17px;
}

.me:hover {
  color: #ffffff;
  background-color: #f24236;
}

.user-value {
  margin: 0;
  margin-left: auto;
  color: rgb(33, 33, 33);
  font-weight: bold;
}

.footer {
  background-color: #4c5f6b;
  color: #fff;
  width: 80%;
  text-align: center;
  padding: 19px;
  border-radius: 2.3vh;
  margin: auto;
  margin-top: 33px;
  font-size: 17px;
}

.footer p {
  margin: 0;
  line-height: 33px;
}

.link {
  margin-top: 20px;
  text-decoration: none;
  border-radius: 1vh;
  padding: 5px;
  color: #000;
  background-color: #f7f7f7;
  font-weight: bold;
  transition: color 0.1s, background-color 0.1s;
}

.link:hover {
  background-color: #f24236;
  color: #f7f7f7;
}
