body {
  font-family: Ubuntu;
}




.selected {
  margin-top: 23px;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;

}

/* Tooltip */

.tool {
  position: relative;
  display: inline-block;
}

.tool span{
  /* visibility: hidden; */
  opacity: 0;
  font-size: large;
  font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  top: -5px;
  left: 105%;
  width: 39vw;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  transition: opacity .1s;
  user-select: none;
}

.tool:hover span {
  opacity: 1;
}

/* Separate */

.options {
  margin-top: 20px;
}

.options p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
user-select: none;
}

.options ul {
  list-style: none;
  margin: 0;
  padding: 0;
user-select: none;
}

.options li {
  display: inline-block;
  background-color: #2B3D41;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: font-size .1s;
  margin-bottom: 10px;
}

.options li:hover {
  background-color: #106b92;
  /* font-weight: bold; */
  font-size: 18px;
  color: #fff;
}

ul .unsolved{
  background-color: #006969;
}


.table{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #00798C;
  color: #F7F7F7;
  padding-left: 13px;
  border-radius: 5px;
user-select: none;
font-weight: bold;
}


.users {
  margin-top: 20px;
}

.user {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 10px;
}

.user {
  display: flex;
  align-items: center;
  background-color: rgb(245,245,245);
  padding-left: 13px;
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user span{
  font-weight: bold;
}


.username {
  text-decoration: none;
  background-color: rgb(222, 222, 222);
  border-radius: 10%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 10px;
  color: #333;
  display: inline-block;
  text-align: center;
}

.username:hover {
  color: #FFFFFF;
  background-color: #495159;
}

.me {
  background-color: #1A5E63;
  font-weight: bold;
  color: #EEEEEE;
  font-size: 17px;
}

.me:hover{
  color: #FFFFFF;
  background-color: #F24236;
}

.user-value {
  margin: 0;
  margin-left: auto;
  color: rgb(33, 33, 33);
  font-weight: bold;
}


.footer {
  background-color: #4C5F6B;
  color: #fff;
  text-align: center;
  padding: 19px;
  border-radius: 2.3vh;
  margin-top: 33px;
  font-size: 17px;
}

.link {
  text-decoration: none;
  border-radius: 7%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  color: #fff;
  font-weight: bold;
  background-image: linear-gradient(to right, #19334d , #003333);
}

