body {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.user-box {
  width: 300px;
  height: 370px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.user-image {
  margin-top: 10px;
  width: 80%;
}

.stats{
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}
.stats li{
  display: inline-block;
  color: #000;
  font-size: 16px;
  padding: 8px 7px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

/* Sep  */

.options {
  margin-top: 20px;
}

.options p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  user-select: none;
}

.options ul {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.options li {
  display: inline-block;
  background-color: #2f353b;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: font-size 0.23s;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.options li:hover {
  background-color: #DE3C4B;
  font-size: 17px;
  color: #fff;
}

.table {
  display: flex;
  align-items: center;
  background-color: #00798c;
  color: #f7f7f7;
  padding-left: 13px;
  border-radius: 5px;
  user-select: none;
  font-weight: bold;
}

.users {
  margin-top: 20px;
}

.user {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 10px;
}

.user {
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding-left: 13px;
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user span {
  font-weight: bold;
  color: #2f353b;
}

.username {
  text-decoration: none;
  background-color: #e7ecf1;
  border-radius: 10%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 10px;
  color: #2f353b;
  display: inline-block;
  text-align: center;
}

.username:visited {
  color: #22aa71;
  font-weight: bold;
}

.username:hover {
  color: #ffffff;
  background-color: #2f353b;
}
